<div class="container">
  <div class="lang">
    <!-- <i nz-icon nzTheme="outline" nzType="font-size"></i> -->
  </div>
  <div class="content-layout">
    <!-- 頭部 -->
    <div class="head">
      <!-- <img class="logo" alt="" src="./assets/imgs/walsin-logo.svg" /> -->
      <span class="title">Walsin iSCM</span>
    </div>
    <div class="desc">Accelerate Your Success with Intelligent Supply Chain Management</div>
  </div>

  <!-- router 內容 -->
  <router-outlet></router-outlet>

  <!-- 頁尾 -->
  <div class="login-footer">
    <div class="login-footer-content"><img class="logo" alt="" src="./assets/imgs/walsin-logo.svg" /></div>
  </div>
</div>
